@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .list-item {
    @apply w-full text-center hover:bg-gray-500/30 dark:hover:bg-gray-600 text-xl py-2 rounded-md my-2 hover:border-2 hover:scale-105 hover:border-indigo-300 transition-all ease-in-out duration-100 dark:hover:text-white;
  }
}

.Toastify__toast {
  padding: 0 !important; /* belső padding */
  background: transparent !important; /* háttér átlátszó */
  box-shadow: none !important; /* árnyék eltávolítás */
  min-height: auto !important;
}

.Toastify__toast-body {
  padding: 0 !important; /* body padding törlés */
  margin: 0 !important; /* margin törlés */
}
